@charset "UTF-8";
body{
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #222;
    overflow-x: hidden;
    width: 100%;
}

/* 버튼 */
.fix_btn{position: fixed; bottom:30px; right: 70px;  background-color: #F50057;   border-radius: 20px; z-index: 9999;}
.fix_btn a{display: block; padding: 7px 10px; color:#fff;}
.scroll-btn{
    position: fixed;
    width: 30px;
    height: 30px;
    background-color:red;
    bottom:50px;
    right: 100px;
    z-index: 9999;
}
/* body .main_section{
    opacity: 0;
}
body.after-load .main_section{
    opacity: 1;
} */
/* 로딩 */
.loading_bar{
    position: fixed;
    left:0;
    top:0;
    width: 0;
    z-index: 9999;
    height:5px;
    background-color: royalblue;
}
body .loading{
    position: fixed;
    left:0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    z-index: 99999;
    transition: all 0.3s;
}
body .loading p{
    position: absolute;
    top:55%;
    transform: translateY(-50%);
}
body .loading .circle-container{
    width: 40px;
    height: 40px;
    background-color: transparent;
    animation: loading 1s infinite linear;
}
body .loading .circle.thin{
    border: none;
}
body .loading .circle.thick{
    border-color:transparent #00BCD4;
}
body .loading .circle.yellow{
    border-color:#2196F3 transparent;
}
body .loading .circle.thick,
body .loading .circle.yellow{
    border-width:5px;
    width: 100%;
    height: 100%;
}
@keyframes loading {
    100%{transform: rotate(360deg);}
}

/* body.after-load .loading{
    opacity: 0;
    visibility: hidden;
} */
section.main_section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gold;
    box-sizing: border-box;
    background: url(../img/bg.png) 50% 0 no-repeat;
    background-size: 100% 100%;
}
section.main_section .circle_bg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background: url(../img/circle.png) center center no-repeat;
    background-size: 100% 100%;
}
section.main_section .layer{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
}
section.main_section .circle_bg{
    position: relative;
}
section.main_section .circle_bg h1{
    font-weight: bold;
    font-size: 60px;
    transform: translateX(-5px);
}
section.main_section  .arrow{
    position: fixed;
    bottom:10%;
    width: 100%;
    height: 80px;
    text-align: center;
    opacity: 0;
}
section.main_section .circle_bg .arrow img{
    width: 30px;
    height: 100%;
}
section.main_section .wave{
    position: absolute;
    left:0;
    bottom:-500px;
    width: 100%;
    overflow: hidden;
}
section.main_section .name{
    opacity: 0;
    background-color: gold;
    padding: 10px 20px;
    position: fixed;
    top:-100px;
    right: 80px;
    color:#222;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    transform: rotate(-8deg);
}


.fix{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
     /* border: 5px solid red;  */
}
/* section bg */
section.bg{
    width: 100%;
    height: 100vh;
    background-color: #222;
}
section .inner{
    position: relative;
    width: 100%;
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    /* border: 1px solid orange; */
    box-sizing: border-box;
}
.fix .layer{
    position: absolute;
    width: 40%;
    transform: scale(0);
}
.fix .layer1{
    transform-origin: right top;
    right: 0;
    top:0;
}
.fix .layer2{
    transform-origin: left bottom;
    bottom:0;
    left:0;
}
.fix .txt{
    position: fixed;
    top:-200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 20px 20px;
    font-weight: bold;
    font-size: 30px;
    background-color: gold;
    padding: 10px 20px;
    box-sizing: border-box;
}
/* 배경 */
section.fix .bg_main{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
section.fix .bg.main{
    transform: scale(0.2);
}
section.fix .bg_con{
    /* background-color: blue; */
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
}
/* 텍스트 */
.fix .text-con{
    color:#fff;
    width: 100%;
    text-align: center;
    /* border: 1px solid blue; */
    box-sizing: border-box;
    opacity: 0;
    z-index: 200;
}
.fix .main_title{
    opacity: 0;
    position: relative;
    color:#fff;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    transform: translate(-300px,0);
}
.fix .main_title::after{
    content: "My Project";
    position: absolute;
    left:8%;
    bottom:-41%;
    font-style: italic;
    font-weight: 300;
    color:#ddd;
    opacity: 0.3;
}
.fix.advantage .main_title::after{
    content: "Advantage";
}
.fix .text-con p{
    display: inline-block;
    color:#222;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 35px;
    background-color:#fff;
}
/* 사람 */
.img-con{
    position: absolute;
    left:0;
    bottom:130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fix .person{
    width: 210px;
    opacity: 0;
    z-index: 9999;
}
 /* introduce  */
 .introduce .main{
    transform: translateY(10%);
 }
 .introduce .bg_work{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:100px;
    height: 750px;
    opacity: 0;
}
.introduce .person{
    width: 270px;
}
.introduce .qna .person{
    width: 250px;
}
.introduce .word{
    position: absolute;
    top:0;
    border-radius:0;
    box-shadow: none;
    padding: 23px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:100% 100%;
    opacity: 0;
}
.introduce .word.word01{
    top: 30%;
    right: 24%;
    background-image: url(../img/scene01-text01.png);

}
.introduce .word.word02{
    top: 40%;
    right: 24%;
    background-image: url(../img/scene01-text02.png);
}
.introduce .word.word03{
    left:20%;
    top:42%;
    background-image: url(../img/scene01-text03.png);
}
/* circle */
.introduce .circle-inner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introduce .main-circle{
    position: relative;
    width: 700px;
    height: 700px;
    overflow: hidden;
    border-radius: 50%;
    opacity: 0;
    z-index: 100;
}
.circle-container{
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color:rgba(0,0,0,0.4);
}
.center-circle{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:32px;
    height: 32px;
    background-color: #FF1744;
    border-radius: 50%;
    z-index: 88;
    opacity: 0;
}
.circle{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border-style: solid;
    box-sizing: border-box;
}
 .circle.thin {
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-color: #494949;
}

 .circle.thick {
    width: 93%;
    height: 93%;
    border-width: 10px;
    border-color: #fff;
}

 .circle.yellow {
    width: 93%;
    height: 93%;
    border-width: 10px;
    border-color: #FF1744 transparent;
}
.introduce .line{
    position: absolute;
    left:50%;
    top:50%;
    width: 25%;
    height: 10px;
    border-radius: 10px;
    background-color: #FF1744;
    z-index: 100;
    transform-origin: left top;
    opacity: 0;
}
.introduce .line.line1{
    height: 43%;
    width: 10px;
    transform: rotate(45deg);
}
.introduce .small-circle{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid #F48FB1;
    border-radius: 50%;
    opacity: 0;
}
.introduce .small-circle span{
    position: absolute;
    left:50%;
    top:50%;;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80%;
    background-color: #D81B60;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
}
.introduce .circle1{
  left:10%;
  top:30%;

}
.introduce .circle2{
    right: 10%;
    bottom:30%;
}
.introduce .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    z-index: -99;
}
.introduce .slide>img{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.introduce .slide>img.spring{
    opacity: 1;
}
.fix .text-con.txt-4{
    top:5%;
}

/* advantages */
.advantages{
    position: relative;
    left:100%;
    width: 300%;
    height: 300px;
    top:50%;
    transform: translateY(-50%);
}
.advantages .advantage{
    position: absolute;
    left:0;
    top:0;
    font-weight: bold;
    width: 33.3333%;
    box-sizing: border-box;
}
.advantages .advantage .ad_inner{
    width: 600px;
    margin: 0 auto;
    box-shadow: 0 1px 2px rgb(255, 255, 255,0.2);
    box-sizing: border-box;
    height: 300px;
    background: url(../img/card-80.jpg) 50% 0 no-repeat;
    background-size: 100% 100%;
}
.advantages .advantage .ad_inner>div{
    width: 50%;
    height: 100%;
}

.advantages .advantage .ad_inner h3{
    color:#fd9124;
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
    box-sizing: border-box;
}
.advantages .advantage .ad_inner ul{
    padding: 0 10px 0;
    padding-top: 50px;
    color:#00BCD4;
    font-size: 12px;
    font-weight: 300;
}
.advantages .advantage.ad2{
    left:33.3333%
}
.advantages .advantage.ad2 .ad_inner ul{
    padding-top: 36px;
}
.advantages .advantage.ad3{
    left:66.6666%
}
.advantages .advantage.ad3 .ad_inner ul{
    padding-top: 56px;
}
.text{
    opacity: 0;
    position: fixed;
    color:#fff;
    bottom:100px;
    left:0;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
/* projects */
/* .myproject.active0{
    background: url(../img/book_bg.jpg) center no-repeat;
    background-size: 100% 100%;
}
.myproject.active1{
    background: url(../img/memo_bg.jpg) center no-repeat;
    background-size: 100% 100%;
} */
.project_bg{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 0;
    background-image: url(../img/book_bg.jpg);
    z-index: 200;
    opacity: 0;
    transition: opacity .3s;
}
.project_bg.memo{
    background-image: url(../img/memo_bg.jpg);
}
.myproject.active0 .project_bg.library{
    opacity: 1;
}
.myproject.active1 .project_bg.memo{
    opacity: 1;
}
.myproject .layer_bg{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    background: url(../img/layer4.png) 50% center no-repeat;
}
.myproject .bg{
    position: fixed;
    top:0;
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myproject .bg .bulb{
    position: relative;
    margin: 0 7px;
    width: 70px;
    height: 300px;
    margin: 0 4px;
    transform: translate(0,-400px);
}
.myproject  .bg img{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
}
.myproject  .bg .bulb .on{
    opacity: 0;
}
.myproject .main_cards{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.myproject .card{
    position: relative;
    box-shadow: 2px 3px 5px rgba(255, 255, 255, 0.2);
    width: 300px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-image: url(../img/book_bg.jpg);
    margin: 0 25px;
    transform: translate(-70%,120%) rotate(20deg);
    visibility: hidden;
    cursor: pointer;
    opacity: 0;
}
.myproject .card.memo{
    background-image: url(../img/memo_bg.jpg);
    transform: translate(40%,120%)  rotate(-60deg);
}

.main_cards .card .card_content{
    position: relative;
    font-size: 12px;
    padding: 22px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 3px solid #fff;
    transition: opacity .5s, transform .2s;
    z-index: 9999;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.2);
    background: url(../img/card_bg3-80.jpg) 50% 0 no-repeat;
    background-size: 100% 100%;
    opacity: 0;
}
.myproject.active0 .library .card_content,
.myproject.active1 .memo .card_content{
    opacity: 1;
}
.myproject.active0 .library:hover .card_content,
.myproject.active1 .memo:hover .card_content{
    transform: scale(1.1);
}
.card h3{
    font-size: 16px;
}
.card .des{
    padding: 12px 0;
    box-sizing: border-box;
    line-height: 1.6;
}
.card .des .sub_title{
    font-weight: bold;
    font-size: 12px;
}
.card .btns{
    position: absolute;
    padding: 0 10px;
    box-sizing: border-box;
    bottom:0;
    width: 100%;
    left:0;
}
.card button{
    display: block;
    color:#fff;
    font-size: 12px;
    background-color: #64B5F6;
    width: 100%;
    margin: 5px 0;
    box-sizing: border-box;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #Fff;
    transition: .3s;
    cursor: pointer;
}
.myproject .card .point{
    position: absolute;
    right: 10px;
    top:-30px;
    padding: 8px;
    background-color: crimson;
    color:#fff;
    font-size: 10px;
    border-radius: 20px;
}
.myproject .card .point::after{
    content: '';
    position: absolute;
    bottom:0;
    left:50%;
    width: 5px;
    height: 5px;
    transform:t  translateY(50%) rotate(45deg);
    background-color: crimson;
}

.myproject .card .btns button:hover{
    color:#222;
    background-color: #fff;
    border-color: #64B5F6;
}

.myproject .memo .btns button{
    background-color: #F06292;
}

.myproject .memo .btns button:hover{
    border-color: #F06292;
}

@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
    html{
        height: 100%;
        overflow: hidden;
    }
    body{
        position: relative;
        height: 100%;
        overflow: auto;
    }

}